</div>
                  <div class="footer">
                    <small class="text-muted text-center d-block">You received this email because you are registered on <a target="_blank" href="https://helppie.me">helppie.me</a></small>
                    <small class="text-muted text-center d-block">To unsubscribe, <a target="_blank" href="https://helppie.me/login">login</a> to your account and change email settings</small>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>
    </tbody>
  </table>


    </body>

    <!-- Exact Target tracking code -->
    <img src="" width="1" height="1">
</html>